---
pagination:
    data: ORPHAN_TRAIN_DATA
    size: 1
    alias: record
permalink: "people/{{ record.Identifier | slug }}/"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{record.Identifier}}</title>

  </head>
  <body>
    <h1>{{record["Birth Name First"]}} {{record["Birth Name Last"]}}</h1>
    <p>
      <br/>
      {{record.Gender}}
    </p>

  </body>
</html>