<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href={{urlRoot | append: "/css/header.css"}}>
  <div class="header">
    <div class="title">
      The Orphan Trains of Nebraska
    </div>
    <nav>
      <a href={{urlRoot | append: "/index.html"}}>Home</a>
      <a href={{urlRoot | append: "/table/index.html"}}>Passengers</a>
      <a href={{urlRoot | append: "/background/index.html"}}>Background</a>
      <a href={{urlRoot | append: "/about/index.html"}}>About Project</a>
      <a href={{urlRoot | append: "/photos/index.html"}}>Photos</a>
      <a href={{urlRoot | append: "/analysis/index.html"}}>Analysis</a>
    </nav>
  </div>

</html>